Source: toped
Section: electronics
Priority: extra
Maintainer: Xiangfu Liu <xiangfu@openmobilefree.net>
Build-Depends: debhelper (>= 9.20120909), autotools-dev,
 flex, bison, libglu1-mesa-dev, libgl1-mesa-dev,
 libglew-dev, libwxgtk2.8-dev
Standards-Version: 3.9.4
Homepage: http://toped.org.uk/
Vcs-Svn: http://toped.googlecode.com/svn/trunk/
Vcs-Browser: http://code.google.com/p/toped/source/browse/trunk

Package: toped
Architecture: any
Section: utils
Depends: ${shlibs:Depends}, ${misc:Depends}, 
 toped-libs (= ${binary:Version}), toped-utils (= ${binary:Version}),
 toped-tll-libs (= ${source:Version})
Description: Open source IC layout editor 
 Toped is a cross-platform IC layout editor supporting GDS,
 OASIS and CIF formats. it is an open source project licensed
 under the GNU General Public License. the project is under
 active development
 .
 Toped is driven by a build-in script interpreter. the script
 is designed to code and facilitate the layout generation and
 is used also for configuration. automatic session recovery,
 undo with unlimited depth and customizable GUI are among the
 product features
 .
 Toped focuses on rendering speed and quality of the screen
 output. the project uses the full power of OpenGL in terms of
 speed as well as unrestricted number of colors and fill 
 patterns

Package: toped-libs
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: libraries of toped
 Toped is a cross-platform IC layout editor supporting GDS,
 OASIS and CIF formats. it is an open source project licensed
 under the GNU General Public License. the project is under
 active development
 .
 This package provides a shared library for toped

Package: toped-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, racket
Description: some utils work with toped
 Toped is a cross-platform IC layout editor supporting GDS,
 OASIS and CIF formats. it is an open source project licensed
 under the GNU General Public License. the project is under
 active development
 .
 This package provides some utils work with toped

Package: toped-tll-libs
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, octave
Description: tell libs of toped
 Toped is a cross-platform IC layout editor supporting GDS,
 OASIS and CIF formats. it is an open source project licensed
 under the GNU General Public License. the project is under
 active development
 .
 This package provides tell libs for toped
