Source: toped
Section: electronics
Priority: extra
Maintainer: Xiangfu Liu <xiangfu@openmobilefree.net>
Build-Depends:
 autotools-dev,
 bison,
 debhelper (>= 9),
 flex,
 libgl1-mesa-dev,
 libglew-dev,
 libglu1-mesa-dev,
 libwxgtk2.8-dev,
 zlib1g-dev
Standards-Version: 3.9.4
Homepage: http://toped.org.uk/
Vcs-Git: git://github.com/xiangfu/deb-pkg.git
Vcs-Browser: https://github.com/xiangfu/deb-pkg/tree/master/toped

Package: toped
Architecture: any
Section: utils
Depends:
 toped-libs (= ${binary:Version}),
 toped-tll-libs (= ${source:Version}),
 toped-utils (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends}
Description: Open source IC layout editor
 Toped is a cross-platform IC layout editor supporting GDS,
 OASIS and CIF formats. it is an open source project licensed
 under the GNU General Public License. the project is under
 active development.
 .
 Toped is driven by a build-in script interpreter. the script
 is designed to code and facilitate the layout generation and
 is used also for configuration. automatic session recovery,
 undo with unlimited depth and customizable GUI are among the
 product features.
 .
 Toped focuses on rendering speed and quality of the screen
 output. the project uses the full power of OpenGL in terms of
 speed as well as unrestricted number of colors and fill
 patterns.

Package: toped-libs
Architecture: any
Section: libs
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 ${misc:Depends},
 ${shlibs:Depends}
Description: libraries of toped
 Toped is a cross-platform IC layout editor supporting GDS,
 OASIS and CIF formats. it is an open source project licensed
 under the GNU General Public License. the project is under
 active development.
 .
 This package provides a shared library for toped.

Package: toped-tll-libs
Architecture: all
Depends:
 octave,
 ${misc:Depends}
Description: tell libs of toped
 Toped is a cross-platform IC layout editor supporting GDS,
 OASIS and CIF formats. it is an open source project licensed
 under the GNU General Public License. the project is under
 active development.
 .
 This package provides tell libs for toped.

Package: toped-utils
Architecture: any
Depends:
 racket,
 ${misc:Depends}
Description: some utils work with toped
 Toped is a cross-platform IC layout editor supporting GDS,
 OASIS and CIF formats. it is an open source project licensed
 under the GNU General Public License. the project is under
 active development.
 .
 This package provides some utils work with toped.
